* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #1D1D1D;
  color: #FFFFFF;
}


ul {
  list-style: none;
  margin: 0px;

}

li {
  display: inline-block;
  margin: 20px;

}

a:link, a:visited, a:active {
	text-decoration:none;
}
