/* GLOBAL CSS */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: #111;
  color: #FFF;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}


/* MOVIE ROW COMPONENT */

.movieRow{
  margin-bottom: 30px;
}

.movieRow h2 {
  margin: 0 0 0 30px;
}

.movieRow--listarea{
  overflow-x: hidden;
  padding-left: 30px;
}

.movieRow--list{
  width: 99999px;

}

.movieRow--item {
  display: inline-block;
  width: 150px;
  cursor: pointer;
}

.movieRow--item img{
  width: 100%;
  transform: scale(0.9); /* animação/efeito de "hoover" nas imagens */
  transition: all ease 0.2s;
}

.movieRow--item img:hover{
  transform: scale(1); /* animação/efeito de "hoover" nas imagens */
}


/* FEATURED COMPONENT */


.featured{
  height: 100vh;
}